---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.page__content {
	  p,
	  li,
	  dl {
	    font-size: 0.8em;
	  }
}

a {
    color: #005fb8;
    text-decoration: underline;
	&:visited {
	    color: #00376b;
	}
	&:hover {
	    color: #00376b;
        text-decoration: underline;
      }
}